

.User-card{
    /* border: 1px solid; */
    padding: 40px 0px;
    width: 250px;
    box-shadow: 0px 0px 20px 10px rgb(144, 135, 126);
    color: rgb(110, 44, 0 );
    background-color: rgb(191, 137, 90 );
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
    transition: 500ms all;
    text-align: center;
}
.User-card:hover{
    transform: translateY(-30px);
}
.Users-header{
    padding-top: 70px;
    padding-bottom: 70px;
    /* border: 1px solid; */
    margin: 0 auto;
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.img-user{
    border-radius: 50%;
    border: 1px solid;
    width: 100px;
    background-color: rgb(29, 131, 72);
}

.background-user{
    background-color: rgb(205, 189, 174 );
    padding-top: 30px;
}

.form-div{
    max-width: 1100px;
    margin: 0px auto;
    display: flex;
    justify-content: right;
}



.form{
    display: flex;
    align-items: center;
}

.input-form{
    background-image: url('../../images/searchicon.png');

    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /* background-position: 4px 10px;  */
    background-position: -10px 50px; 
    background-repeat: no-repeat;
    padding: 10px 10px;
    font-size: 20px;
    transition: 1s all;

}
.input-form:focus{
    background-position: 4px 10px; 
    padding: 10px 30px;
    outline: none;
    box-shadow: 0px 0px 20px 10px rgb(213, 151, 89);
    
}

.add-Friend{
    padding: 5px 30px;
    border: 1px solid;
    background-color: rgb(200, 203, 206);
    color: rgb(69, 99, 94);
}